.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 30%;
}
.nav-items{
    padding: 0px 20px;
}
.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}
.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}
.res-container{
    display:flex;
    flex-wrap: wrap;
}
.res-card{
    margin: 8px;
    width: 100%;
    max-width: 282px; /* Constrains the card width */
    padding: 6px;
    box-sizing: border-box; /* Ensures padding is included in the width */
    word-wrap: break-word; /* Allows breaking long words */
    white-space: normal; /* Enables line breaks for text */
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.search{
    padding: 10px;
}
.res-logo{
    width: 100%;
}
.filter-btn{
    margin: 10px;
    cursor: pointer;
}